{% extends 'base.html' %}
{% block title %}Coffee and Wifi{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">☕️ Coffee & Wifi 💻</h1>
        <p class="lead darker-text">Want to work in a cafe, but need power and wifi?</p>
        <hr class="my-4">
        <p>You're in the right place! Check out my collection of cafes which showcase data such as: business hours, power plug availability, Wifi speed, and coffee quality.</p>
        <a class="btn btn-warning btn-lg" href="cafes" role="button">Show Me!</a>
    </div>
</div>
{% endblock %}
